@model IEnumerable<REEDERSTAJ.Models.URUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/CSS/Yonetim.css" rel="stylesheet" />

</head>
<body>


    <table>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>




</body>